<hello-framework
  [name]="name"
  [version]="version"
  (release)="onVersionRelease()"></hello-framework>

<div class="class1">
  <h4>Reactive Forms</h4>
    <form [formGroup]="myForm">
        First Name : 

        <input type="text" formControlName="firstname">
        <span class="error"
              *ngIf="myForm.controls.firstname.touched && 
                     myForm.controls.firstname.invalid && 
                     myForm.controls.firstname.errors.required">
            First Name Can't Be Blank            
        </span>
        <span class="error"
              *ngIf="myForm.controls.firstname.touched && 
                     myForm.controls.firstname.invalid && 
                     myForm.controls.firstname.errors.minlength">
            First Name Should Have Min 3 Characters            
        </span>
        <span class="error"
              *ngIf="myForm.controls.firstname.touched && 
                     myForm.controls.firstname.invalid && 
                     myForm.controls.firstname.errors.pattern">
            First Name Should Have Only Alphabets  
        </span> <br/>

        Last Name : 

        <input type="text" formControlName="lastname">
        <span class="error"
              *ngIf="myForm.controls.lastname.touched && 
                     myForm.controls.lastname.invalid && 
                     myForm.controls.lastname.errors.required">
            Last Name Can't Be Blank            
        </span>
        <span class="error"
              *ngIf="myForm.controls.lastname.touched && 
                     myForm.controls.lastname.invalid && 
                     myForm.controls.lastname.errors.minlength">
            Last Name Should Have Min 3 Characters            
        </span>
        <span class="error"
              *ngIf="myForm.controls.lastname.touched && 
                     myForm.controls.lastname.invalid && 
                     myForm.controls.lastname.errors.pattern">
            Last Name Should Have Only Alphabets  
        </span>
    </form>
</div>